:root {
  --color-principal: #00b8d4;
  --color-secundario: #ff6f61;
  --color-fondo-claro: #faf9f6;
  --color-fondo-oscuro: #102a43;
  --color-detalle: #4caf50;
  --color-texto-principal: #2e3a59;

  --fuente-principal: "Poppins", sans-serif;
}

.introduccion-main {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(../media/imagenes/archipielago_islas.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo_introduccion-main {
  color: rgb(76, 255, 130);
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.ofertas_especiales-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.ofertas_titulo {
  text-align: center;
  font-size: 2rem;
}

.oferta_especial-contenedor {
  width: 90%;
  height: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.oferta_descripcion-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ofertas_especiales-img {
  width: 60%;
  height: 300px;
  border-radius: 10px;
}

.oferta_subtitulo {
  font-size: 1.7rem;
}

.seccion-ofertas {
  padding: 3rem 1rem;
  background-color: var(--color-fondo-claro);
  text-align: center;
}

.titulo-seccion {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--color-texto-principal);
}

.contenedor-cards-oferta {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.card-oferta {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  width: calc(25% - 20px);
  min-width: 260px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-oferta:hover {
  transform: translateY(-5px);
}

.img-card-oferta {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.titulo-card {
  font-size: 1.2rem;
  margin: 1rem;
  color: var(--color-detalle);
}

.texto-card {
  font-size: 1rem;
  padding: 0 1rem 1.5rem;
  color: var(--color-texto-principal);
}

@media (max-width: 768px) {
  .oferta_especial-contenedor {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ofertas_especiales-img {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: cover;
  }

  .order-2 {
    order: 2 !important;
  }

  .oferta_descripcion-main {
    padding: 1rem;
  }

  .order-1 {
    order: 1 !important;
  }

  .oferta_subtitulo {
    font-size: 1.4rem;
  }

  .boton-principal {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background-color: var(--color-principal);
    color: white;
    border-radius: 20px;
    font-weight: bold;
    margin: auto;
    transition: background 0.3s ease;
    margin-top: 10px;
  }

  .ofertas_titulo {
    font-size: 1.8rem;
    padding: 0 1rem;
  }
}
